{% extends 'base.html'%}

{%block content%}

	<a href="{%url 'escuelas:entidad-detail' object.entidad.slug%}">Regresar</a>

	<div class="table-responsive text-center">
		<table class="table">
			<thead>
				<th colspan="2">{{object}}</th>
			</thead>
			<thead>
				<th>Región</th>
				<th>Partida</th>
			</thead>
			<tbody>
				<tr>
					<td>{{object.entidad.region}}</td>
					<td>{{object.entidad.partida}}</td>
				</tr>
			</tbody>
		</table>
	</div>


	<div class="table-responsive text-center">
		<table class="table">
			<thead>
				<th colspan="8">Documentación</th>
			</thead>
			<thead>
				<th>Nombre</th>
				<th>Fecha</th>
				<th>Subido por</th>
			</thead>
			<tbody>

	{%for oficio in oficios%}

				<tr>
					<td><a href="{{oficio.archivo.url}}">{{oficio.nombre}}</a></td>
					<td>{{oficio.fecha}}</td>
					<td>{{oficio.autor}}</td>
				</tr>
	
	{%empty%}
	
				<tr>
					<td colspan="8">Lista de escuelas vacia</td>
				</tr>

	{%endfor%}

			</tbody>
		</table>
	</div>



	<div class="table-responsive text-center">
		<table class="table">
			<thead>
				<th colspan="2">Reportes</th>
			</thead>
			<tbody>
				<tr>
					<td>
						<a href="">Reporte general (Proximamente)</a>
					</td>
				<tr>
				</tr>
					<td>
						<a href="">T7(Proximamente)</a>						
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="table-responsive text-center">
		<table class="table">
			<thead>
				<th colspan="8">Escuelas</th>
			</thead>
			<thead>
				<th>Número</th>
				<th>CCT</th>
				<th>Nombre</th>
				<th>Municipio</th>
				<th>Localidad</th>
				<th>Plantilla</th>
				<th>Mueble</th>
				<th>Lista</th>			
			</thead>
			<tbody>

	{%for escuela in escuelas%}

				<tr>
					<td>{{escuela.numero}}</td>
					<td><a href="{%url 'escuelas:escuela-detail' escuela.slug%}">{{escuela.cct}}</a></td>
					<td>{{escuela.nombre}}</td>
					<td>{{escuela.municipio}}</td>
					<td>{{escuela.localidad}}</td>
					<td>{{escuela.plantilla_escolar}}</td>
					<td>{{escuela.escuela_sistemabebedero.mueble.modelo}}
					</td>
					<td><a href="{{escuela.lista.archivo.url}}">{{escuela.lista.nombre}} </a> {{escuela.lista.url}}
					</td>
				</tr>
	
	{%empty%}
	
				<tr>
					<td colspan="8">Lista de escuelas vacia</td>
				</tr>

	{%endfor%}

			</tbody>
		</table>
	</div>

{%endblock content%}