{% extends 'base.html'%}

{%block content%}

	<a href="{%url 'escuelas:entidad-detail' object.entidad.slug%}">Regresar</a>

	<div class="table-responsive text-center">
		<table class="table">
			<thead>
				<th colspan="2">{{object}}</th>
			</thead>
			<thead>
				<th>Región</th>
				<th>Partida</th>
			</thead>
			<tbody>
				<tr>
					<td>{{object.entidad.region}}</td>
					<td>{{object.entidad.partida}}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<h3>Lista de escuelas</h3>

	<div class="table-responsive text-center">
		<table class="table">
			<thead>
				<th>Número</th>
				<th>CCT</th>
				<th>Nombre</th>
				<th>Municipio</th>
				<th>Localidad</th>
				<th>Plantilla</th>
				<th>Mueble</th>
				<th>Lista</th>								
			</thead>
			<tbody>

	{%for escuela in escuelas%}

				<tr>
					<td>{{escuela.numero}}</td>
					<td><a href="{%url 'escuelas:escuela-detail' escuela.slug%}">{{escuela.cct}}</a></td>
					<td>{{escuela.nombre}}</td>
					<td>{{escuela.municipio}}</td>
					<td>{{escuela.localidad}}</td>
					<td>{{escuela.plantilla_escolar}}</td>
					<td>{{escuela.escuela_sistemabebedero.mueble.modelo}}
					</td>
					<td><a href="{{escuela.lista.archivo.url}}">{{escuela.lista.nombre}} </a> {{escuela.lista.url}}
					</td>
				</tr>
	
	{%empty%}
	
				<tr>
					<td colspan="3">Lista de regiones vacia</td>
				</tr>

	{%endfor%}

			</tbody>
		</table>
	</div>

{%endblock content%}