{% extends 'base.html'%}

{%block content%}
	
	<a href="{%url 'escuelas:region-detail' object.region.slug%}">Regresar</a>

	<div class="table-responsive text-center">
		<table class="table">
			<thead>
				<th colspan="2">{{object.nombre}}</th>
			</thead>
			<thead>
				<th>Región</th>
				<th>Partida</th>
				
			</thead>
			<tbody>

				<tr>
					<td>{{object.region.numero}} {{object.region.nombre}}</td>
					<td>{{object.partida}}</td>
					
				</tr>
			</tbody>
		</table>
	</div>


	<h2>Convocatorias</h2>

	<div class="table-responsive text-center">
		<table class="table">
			<thead>
				<th>Convocatoria</th>
				<th>Escuelas contractuadas</th>	
			</thead>
			<tbody>

	{%for entidad_convocatoria in entidad_convocatorias%}

				<tr>
					<td><a href="{%url 'escuelas:entidad-convocatoria-detail' entidad_convocatoria.slug%}">{{entidad_convocatoria.convocatoria}}</a></td>
					<td>{{entidad_convocatoria.escuelas_contractuadas}}</td>
				</tr>
	
	{%empty%}
	
				<tr>
					<td colspan="3">Lista de regiones vacia</td>
				</tr>

	{%endfor%}

			</tbody>
		</table>
	</div>

{%endblock content%}