{% extends 'base.html'%}

{% load bootstrap %}

{%block content%}

	<a href="{%url 'escuelas:entidad-convocatoria-detail' object.entidad_convocatoria.slug%}">Regresar</a>
	
	<div class="table-responsive text-center">
		<table class="table">
			<thead>
				<th>Numero</th>
				<th>CCT</th>
				<th>Nombre</th>
				<th>Convocatoria</th>				
			</thead>
			<tbody>
				<tr>
					<td>{{object.numero}}</td>
					<td>{{object.cct}}</td>
					<td>{{object.nombre}}</td>
					<td>{{object.entidad_convocatoria.convocatoria}}</td>
				</tr>
			</tbody>
		</table>

		<table class="table">
			<thead>
				<th>Turno</th>
				<th>Nivel educativo</th>
				<th>Plantilla</th>				
			</thead>
			<tbody>
				<tr>
					<td>{{object.turno}}</td>
					<td>{{object.nivel_educativo}}</td>
					<td>{{object.plantilla_escolar}}</td>			
				</tr>
			</tbody>
		</table>	

		<table class="table">
			<thead>
				<th>Domicilio</th>
				<th>Localidad</th>
				<th>Municipio</th>
				<th>Entidad</th>				
			</thead>
			<tbody>
				<tr>
					<td>{{object.domicilio}}</td>
					<td>{{object.localidad}}</td>
					<td>{{object.municipio}}</td>
					<td>{{object.entidad_convocatoria}}</td>					
				</tr>
			</tbody>
		</table>		


		<table class="table">
			<thead>
				<th>Modelo</th>
				<th>Sistema potabilizador</th>
			</thead>
			<tbody>
				<tr>
					<td>{{sistemabebedero.mueble.modelo}}</td>
					<td>{{sistemabebedero.sistema_potabilizador.tipo}}</td>
				</tr>
			</tbody>
		</table>

		<table class="table">
			<thead>
				<th>Director</th>
				<th>Telefono</th>
			</thead>
			<tbody>
				<tr>
					<td>{{object.director}}</td>
					<td>{{object.telefono}}</td>
				</tr>
			</tbody>
		</table>		
	</div>

<div class="row">
  <div class="col-sm-4 h-100">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Notas</h5>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Primer analisis del agua</h5>

        {%if numero_analisis == 0%}
        <a href="{%url 'agua:analisis-create' object.slug%}" class="btn btn-primary">Crear</a>
        {%else%}
		<a href="{%url 'agua:analisis-update' analisis.0.slug%}" class="btn btn-primary">Actualizar</a>
		{%endif%}
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Sistema bebedero</h5>
        <a href="{%url 'bebederos:sistemabebedero-update' sistemabebedero.slug%}" class="btn btn-primary">Configurar</a>
      </div>
    </div>
  </div>
</div>
<br>

<div class="row">
  <div class="col-sm-4">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Expediente técnico</h5>
        {%if expediente == 0%}
        <a href="{%url 'expedientes:expediente-create' object.slug%}" class="btn btn-primary">Crear</a>
		{%else%}
		<a href="{%url 'expedientes:expediente-update' expedientes.0.slug%}" class="btn btn-primary">Actualizar</a>
		{%endif%}
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Segundo analisis del agua</h5>
		{%if numero_analisis == 1%}
        <a href="{%url 'agua:analisis-create' object.slug%}" class="btn btn-primary">Crear</a>
        {%elif numero_analisis == 2%}
		<a href="{%url 'agua:analisis-update' analisis.1.slug%}" class="btn btn-primary">Actualizar</a>
		{%else%}
		<a href="" class="btn btn-primary">Realizar el primer analisis</a>
		{%endif%}
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Mantenimientos</h5>
        <a href="{%url 'mantenimientos:mantenimiento-list' object.slug%}" class="btn btn-primary">Ver y actualizar</a>
      </div>
    </div>
  </div>

</div>

{%endblock content%}