{% extends 'base.html'%}

{% load bootstrap %}

{%block content%}

	<h2>Regiones</h2>

	<div class="table-responsive text-center">
		<table class="table">
			<thead>
				<th>Número</th>
				<th>Nombre</th>	
			</thead>
			<tbody>

	{%for region in object_list%}

				<tr>
					<td>{{region.numero}}</td>
					<td><a href="{%url 'escuelas:region-detail' region.slug%}">{{region.nombre}}</a></td>
				</tr>
	
	{%empty%}
	
				<tr>
					<td colspan="3">Lista de regiones vacia</td>
				</tr>

	{%endfor%}

			</tbody>
		</table>
	</div>

{%endblock content%}