{% extends 'base.html'%}

{% load bootstrap %}

{%block content%}

	<a href="{%url 'escuelas:region-list'%}">Regresar</a>
	<div class="table-responsive text-center">
		<table class="table">
			<thead>
				<th colspan="2">Región</th>
			</thead>
			<thead>
				<th>Número</th>
				<th>Nombre</th>
			</thead>
			<tbody>

				<tr>
					<td>{{object.numero}}</td>
					<td>{{object.nombre}}</td>
				</tr>

			</tbody>
		</table>
	</div>

	<div class="table-responsive text-center">
		<table class="table">
			<thead>
				<th colspan="2">Entidades</th>
			</thead>
			<thead>
				<th>Partida</th>
				<th>Nombre</th>	
			</thead>
			<tbody>

	{%for entidad in entidades%}

				<tr>
					<td>{{entidad.partida}}</td>
					<td><a href="{%url 'escuelas:entidad-detail' entidad.slug%}">{{entidad.nombre}}</a></td>
				</tr>
	
	{%empty%}
	
				<tr>
					<td colspan="3">Lista de regiones vacia</td>
				</tr>

	{%endfor%}

			</tbody>
		</table>
	</div>

{%endblock content%}