{% extends 'base.html'%}

{%load bootstrap%}

{%block content%}

	<a href="{%url 'escuelas:escuela-detail' escuela.slug%}">Regresar</a>	

	<div class="table-responsive text-center">
		<table class="table">
			<thead>
				<th>{%if object%} Configuración{%endif%} de componentes del sistema bebedero</th>
			</thead>
		</table>
	</div>

	{{object.no_trazabilidad}}
	<form method="post" enctype="multipart/form-data">
		{%csrf_token%}
		{{form|bootstrap}}
		<input type="submit" value="Guardar">
	</form>

{%endblock content%}